<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    {% if session %}
        {% if user and user.userinfo %}
            Hello, {{ user.userinfo.email }}!
        {% else %}
            Hello, Guest!
        {% endif %}
        <p>Welcome</p>
        <p><a href="/protected">Protected Page</a> or <a href="/logout">Sign out</a></p>
    {% else %}
        <h1>SecureZone Portal</h1>
        <p><a href="/login">Sign In</a></p>
    {% endif %}
  </body>
</html>